## Ejercicio 1 
Obtén un dataframe con los títulos de las 250 mejores películas según IMDB (https://www.imdb.com/chart/top). Añade la posición, el año, el reparto de actores y las puntuaciones.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Descarga el contenido de la página web
url = 'https://www.imdb.com/chart/top'
response = requests.get(url)
html = response.content

# Analiza el HTML con BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')

# Encuentra la tabla que contiene la información de las películas
table = soup.find('tbody', {'class': 'lister-list'})

# Crea una lista vacía para almacenar los datos
data = []

# Encuentra las filas de la tabla y extrae la información de cada película
for row in table.find_all('tr'):
    # Extrae la posición y el título de la película
    position = int(row.find('td', {'class': 'posterColumn'}).span['data-value'])
    title = row.find('td', {'class': 'titleColumn'}).a.text
    year = int(row.find('td', {'class': 'titleColumn'}).span.text.strip('()'))

    # Extrae el reparto de actores
    cast_list = row.find('td', {'class': 'titleColumn'}).a['title']
    cast = cast_list.split(',')[0:3]

    # Extrae la puntuación de la película
    rating = float(row.find('td', {'class': 'ratingColumn imdbRating'}).strong.text)

    # Almacena los datos en una lista
    movie_data = [position, title, year, cast, rating]
    data.append(movie_data)

# Crea un dataframe con los datos
columns = ['Position', 'Title', 'Year', 'Cast', 'Rating']
df = pd.DataFrame(data, columns=columns)

# Muestra el dataframe
print(df)

     Position                     Title  Year  \
0           1  The Shawshank Redemption  1994
1           2             The Godfather  1972
2           3           The Dark Knight  2008
3           4     The Godfather Part II  1974
4           5              12 Angry Men  1957
..        ...                       ...   ...
245       246            The Iron Giant  1999
246       247                  The Help  2011
247       248                   Aladdin  1992
248       249               Dersu Uzala  1975
249       250        Dances with Wolves  1990

                                                  Cast  Rating
0    [Frank Darabont (dir.),  Tim Robbins,  Morgan ...     9.2
1    [Francis Ford Coppola (dir.),  Marlon Brando, ...     9.2
2    [Christopher Nolan (dir.),  Christian Bale,  H...     9.0
3    [Francis Ford Coppola (dir.),  Al Pacino,  Rob...     9.0
4    [Sidney Lumet (dir.),  Henry Fonda,  Lee J. Cobb]     9.0
..                                                 ...     ...
245  [Brad Bird (dir.),  Eli Marienthal,  Harry Con...     8.0
246    [Tate Taylor (dir.),  Viola Davis,  Emma Stone]     8.0
247  [Ron Clements (dir.),  Scott Weinger,  Robin W...     8.0
248  [Akira Kurosawa (dir.),  Maksim Munzuk,  Yuriy...     8.0
249  [Kevin Costner (dir.),  Kevin Costner,  Mary M...     8.0

[250 rows x 5 columns]

## Ejercicio 2

Obtén todas las URL de las entradas en la wikipedia para todas las provincias de España.
El listado de las provincias de España se puede descargar de la página de la wikipedia siguiente:
https://es.wikipedia.org/wiki/Provincia_(España)

Presenta la información en un dataframe, en el cual la primera columna sea el nombre de la provincia, la segunda su URL.

Añade al dataframe anterior una tercera columna con el número de habitantes de cada provincia